body {
     background: #000;
     color: #999;
     font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯", Osaka, "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3";
     font-size: 8pt;
     margin: 0px auto;
     padding: 0px;
}
img {
    border-width: 0px;
}
a, a:link, a:active, a:visited {
	color: #999;
	text-decoration: underline;
}
a:focus, a:hover{
	color: #eee;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	padding: 0 0 0 10px;
	margin: 0 10px;
}
li.focus {
	background: url(images/arrow.gif) left 5px no-repeat;
}
