<?xml version="1.0" encoding="iso-2022-jp" ?>
<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <link rel="stylesheet" href="default.css" type="text/css" />
    <meta http-equiv="Content-type" content="text/html; charset=iso-2022-jp" />
    <title>MOTION3 Video</title>
    <script type="text/javascript" src="nifty.js"></script>
    <script type="text/javascript">
      <!--
	  function video(file){
	  // document.writeln('<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" height="256" width="320">');
	  // document.writeln('<param name="src" value="'+file+'">');
	  // document.writeln('<param name="autoplay" value="false">');
	  // document.writeln('<param name="controller" value="true">');
	  // document.writeln('<embed height="256" width="320" src="'+file+'" pluginspage="http://www.apple.com/quicktime/download/" type="video/quicktime" controller="true" autoplay="false">');
	  // document.writeln('</object>');
	  document.writeln('<a href="'+file+'">(download)</a>');
	  }
	  // -->
    </script>
  </head>
  <body>
    <div class="content">
      <h1>MOTION3 Video</h1>

      <p>
	$B4X78<T8~$1$N%Z!<%8$G$9!#<h$j07$$MWCm0U(B<br />
	2007/2/11 23:20$B8=:_(B
      </p>

      <h2>$B%j%g%s"v%j%g%s%:(B</h2>

      <p>
	1. $B%$%s%H%m(B<br />
	<script>video('1-01.mp4');</script>

      <p>
	2. $B%"%t%'!&%^%j%"(B<br />
	<script>video('1-02.mp4');</script>

      <p>
	3. $BNx$N%^%H%j%g!<%_%s?M7A(B<br />
	<script>video('1-03.mp4');</script>

      <h2>211 apart</h2>

      <p>
	1. $Bil2=$N=w(B<br />
	<script>video('2-01.mp4');</script>

      <p>
	2. 85bpm<br />
	<script>video('2-02.mp4');</script>

      <p>
	3. $B8P>e(B<br />
	<script>video('2-03.mp4');</script>

      <p>
	4. MC307<br />
	<script>video('2-04.mp4');</script>

      <p>
	5. Elektron<br />
	<script>video('2-05.mp4');</script>

      <p>
	6. $BAs$$;~(B<br />
	<script>video('2-06.mp4');</script>

      <h2>SFH</h2>

      <p>
	1. Stand On<br />
	<script>video('3-01.mp4');</script>

      <p>
	2. Green Tea<br />
	<script>video('3-02.mp4');</script>

      <p>
	3. $BPJ$^$$(B<br />
	<script>video('3-03.mp4');</script>

      <p>
	4. Drop<br />
	<script>video('3-04.mp4');</script>

      <p>
	5. Exsound!<br />
	<script>video('3-05.mp4');</script>
    </div>
  </body>
</html>
